@import './variables';
@import './reset';

body {
  overflow-x: auto;
  line-height: 1;
}
#__nuxt {
  min-width: 1440px;
  .el-breadcrumb__inner a,
  .el-breadcrumb__inner.is-link {
    font-weight: normal;
  }
  .el-breadcrumb__inner {
    color: #999999;
  }
}

.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: linear !important;
}

// 自己定义的h2样式
._h2 {
  height: 28px;
  font-size: 32px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #000000;
  line-height: 28px;
  margin: 0;
}
._h2-title {
  i {
    font-style: normal;
    color: #ffd400;
    margin-right: 6px;
  }
  span {
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #666666;
    line-height: 28px;
    margin-left: 8px;
  }
}

// 自定义的p标签样式
._p {
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 28px;
  margin: 0;
}
